<section class="section">
    <ul class="list">
    <% page.posts.each(function(post, i){ %>
        <li>
            <a class="list__item" href="/<%= post.path %>">
                <span class="list__title">
                    <%= post.title %>
                </span>
                <span class="list__date">
				<%= date(post.date, 'yy-MM-DD') %>
            </span>
            </a>
            <!--
            <div class="list__category">
                  <%- list_tags(post.tags, {
                      show_count: false,
                      class: 'tags'
                  }) %>
            </div>
            -->
        </li>
    <% }) %>
    </ul>
</section>
<nav class="pager">
    <span class="pager__number">
        <span><%= page.current %></span> / <span><%= page.total %></span>
    </span>
    <% var prev_text = "←"; var next_text = "→" %>
    <%- paginator({
        prev_text: prev_text,
        next_text: next_text
    }) %>
</nav>
